.header {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: left; /* Alignement du titre à gauche */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../img/hieroglyphs-bg.png');
    background-size: cover;
  }
  
  .card-display {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 20px;
    width: 80%; /* Ajustez la largeur selon vos besoins */
    max-width: 1000px; /* Ajustez la largeur maximale selon vos besoins */
  }
  
  .card-image-container {
    width: 40%;
    display: inline-block; /* Pour aligner l'image à gauche */
  }
  
  .card-info {
    width: 50%;
    display: inline-block; /* Pour aligner les informations à droite */
    text-align: left;
    margin-left: 50px;
    vertical-align: top; /* Aligner le haut du contenu avec l'image */
  }
  
  .card-actions {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  /* Style supplémentaire pour assurer une bonne disposition */
  .card-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligner les éléments en haut */
  }
  