.card-edit-container {
    display: flex;
    align-items: start; /* Aligner le formulaire et l'image en haut */
    gap: 20px; /* Espace entre le formulaire et l'image */
    margin-top: 20px;
    background-image: url('../../img/hieroglyphs-bg.png'); /* Chemin vers votre image */
  }


  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilisez 100% de la hauteur de la vue */
    background-color: #f5f5f5; /* Couleur de fond pour tout le conteneur */
  }
  



  .image-container {
    flex: 1;
    padding: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    display: block; /* Assurez-vous que l'image ne prenne pas plus que sa largeur maximale */
  }
  
  .form-container {
    flex: 2;
    margin: 0 30px; /* Espacement autour du formulaire */
    padding: 20px;
    background-color: #000000; /* Couleur de fond pour le formulaire */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre pour le formulaire */
    border-radius: 5px; /* Bords arrondis */
    color: #ffffff;
  }
  
  
  label {
    display: block;
    margin: 10px 0;
    color: #ffffff; /* Couleur de texte */
  }
  
  input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #323232;
    border-radius: 4px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #404040;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #000000;
  }
  